@font-face {
  font-family: "OpenSans-Bold";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans-SemiBold";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-Bold";
  font-display: swap;
  src: url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-Medium";
  font-display: swap;
  src: url("../fonts/Quicksand-Medium.woff") format("woff"), url("../fonts/Quicksand-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand-Regular";
  font-display: swap;
  src: url("../fonts/Quicksand-Regular.woff") format("woff"), url("../fonts/Quicksand-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Medium";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: 'Montserrat', sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header__top {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bottom {
  min-height: 570px;
  background-color: rgba(120, 143, 228, 0.493);
}

.header__title {
  margin: 30px 0 0;
  text-align: center;
  font-family: Quicksand;
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
  letter-spacing: 0em;
  color: #3d4f9f;
}

.header__title-span {
  font-weight: 500;
}

.header__subtitle {
  margin: 90px 0 0;
  text-align: center;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3d4f9f;
  text-transform: uppercase;
}

.header__text {
  margin: 30px 0 0;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.03em;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.nav__item + .nav__item {
  margin-left: 40px;
}

.nav__link {
  font-family: Quicksand;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.05em;
  color: #697ca6;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item + .social__item {
  margin-left: 30px;
}

.social__btn {
  min-width: 110px;
  height: 40px;
  margin-left: 40px;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  background-color: #D2E1FF;
  color: #3a79ff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 145px;
}

.logo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.plan {
  background-color: #F5F8FF;
}

.plan__subtitle {
  margin-top: 200px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: #3d4f9f;
}

.plan__title {
  margin-top: 27px;
  font-family: Quicksand;
  font-size: 36px;
  font-weight: 500;
  line-height: 45px;
  color: #3d4f9f;
}

.plan__title--span {
  font-family: Quicksand;
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
}

.plan__text {
  margin-top: 27px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  color: #8d96bd;
}

.plan__btns {
  margin-top: 47px;
}

.plan__btn {
  height: 43px;
  width: 130px;
  background: transparent;
  border: 1px solid #D1D1E4;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #adb4d2;
}

.plan__btn:first-child {
  background-color: #4C85FF;
  color: white;
}

.plan__img {
  width: 100%;
}

.about {
  text-align: center;
  min-height: 885px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__subtitle {
  margin-top: 170px;
  font-family: Roboto;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  color: #3D4F9F;
}

.about__title {
  margin-top: 20px;
  color: #3d4f9f;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #F1F5FF;
}

.about__item-title {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #4074f8;
}

.about__item-text {
  font-family: Open Sans;
  font-size: 11px;
  font-weight: 600;
  line-height: 19px;
  color: #adb3cb;
}

.about__btn {
  width: 113px;
  height: 43px;
  font-family: Quicksand;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  background-color: #D2E1FF;
  color: #3a79ff;
}

.about__btn:first-child {
  background-color: #FFD7D7;
  color: #d43f3f;
}

.about__btn-or {
  position: relative;
}

.about__btn-or:before,
.about .about__btn-or::after {
  display: block;
  content: "";
  width: 15px;
  height: 1px;
  background-color: #DAE4FE;
  position: absolute;
  top: 8px;
  left: -40px;
}

.about .about__btn-or::after {
  left: 40px;
}

.statistics__item {
  background-color: #6888FF;
  color: white;
}

.statistics__item-num {
  font-family: Quicksand;
  font-size: 48px;
  font-weight: 400;
  line-height: 83px;
  letter-spacing: 0.03em;
}

.statistics__item-text {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.03em;
}